body{
	background-image: url("bg.jpg");   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.nav{

  overflow: hidden;
  top: 0;
  width: 100%;
  z-index:1;
}


.nav-link{
  color: white;
  margin-top: 22px;
  font-style: italic;
 
}

.logopic{
  margin-top: 15px;
  margin-left: 15px;
  width: 150px;
  height: 83px;
}

.aboutus{
   background-color: white;
   border-radius: 4%;
   width: 100%;
  margin-top: -1%;


}

.blacklogo{
  width: 200px;
  height: auto;
}
